<div class="container-fluid">
  <div *ngIf="isLoading" class="card-container mx-auto w-auto d-flex flex-column">
    <div class="px-5 py-4 d-flex justify-content-center">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading" class="card-container mx-auto w-auto d-flex flex-column">
    <div class="px-5 py-4">
      <form class="d-flex flex-column gap-4 flex-wrap w-auto" [formGroup]="form()">
        <div>
          <label for="floatingInput">Primer Nombre</label>
          <input type="text" class="form-control form-control-sm" formControlName="firstName" id="firstName" placeholder="">
        </div>
        <div>
          <label for="floatingInput">Segundo Nombre</label>
          <input type="text" class="form-control form-control-sm" formControlName="secondName" id="secondName" placeholder="">
        </div>
        <div>
          <label for="floatingInput">Primer Apellido</label>
          <input type="text" class="form-control form-control-sm" formControlName="firstLastName" id="firstLastName" placeholder="">
        </div>
        <div>
          <label for="floatingInput">Segundo Apellido</label>
          <input type="text" class="form-control form-control-sm" formControlName="secondLastName" id="secondLastName" placeholder="">
        </div>
        <div>
          <label for="floatingSelect">Tipo de documento</label>
          <select class="form-select form-select-sm" formControlName="documentType" id="documentType">
            <option value="C">Cédula de ciudadanía</option>
            <option value="P">Pasaporte</option>
          </select>
        </div>
        <div>
          <label for="floatingInput">Número de documento</label>
          <input type="text" class="form-control form-control-sm" formControlName="documentNumber" id="documentNumber" placeholder="">
        </div>
        <div>
          <label for="floatingInput">Celular</label>
          <input type="text" class="form-control form-control-sm" formControlName="phone" id="phone" placeholder="">
        </div>
        <button class="w-100" type="button" (click)="onBack()">
          Volver
        </button>
      </form>
    </div>
  </div>
</div>
